body{

    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{

    font-size: 50px;
    font-weight: 300;
}

.highlights{

    color: rgb(230, 26, 128);
}



.half-width{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    

}

.half-width img{

    width: 80%;
    
}

.head-banner{

    
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: 10px;
}

section{

    height: 600px;
}
.link-button{

    text-decoration: none;
    background-image: linear-gradient(60deg, rgb(245, 8, 146), hotpink, #f107dec7);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 400;

    
}

h2{

    font-size: 40px;
    font-weight: 500;

}

#bio-data{

    margin-top: 50px;
}

.biography-area{

    background-image: url("images/biography-bg.png");
    background-position: 1px;
    background-repeat: no-repeat;

}

.three-width{

    
    width: 30%;
    float: left;
    margin-left: 30px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.three-width img{

    width: 100%;
}
.work-area{

    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

h3{

    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.mail-area{
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(60deg, rgb(204, 7, 82), rgb(204, 7, 82));
    padding: 50px 170px;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    margin-left: 300px;
    margin-right: 300px;
    

}


.footer-area{

    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}

footer{

    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}