body{

    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{

    font-size: 50px;
    font-weight: 300;
}

.highlights{

    color: rgb(230, 26, 128);
}

                                            /* Two Division of a section  */

.half-width{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    

}

.half-width img{

    width: 80%;
    
}

.head-banner{

    
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: 10px;
}

section{

    height: 600px;
}

                                            /* Top Anchor Button  */

.link-button{

    text-decoration: none;
    background-image: linear-gradient(60deg, rgb(245, 8, 146), hotpink, #f107dec7);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 400;

    
}

.link-button:hover{

    color: black;
}

h2{

    font-size: 40px;
    font-weight: 500;

}

#bio-data{

    margin-top: 50px;
}

.biography-area{

    background-image: url("images/biography-bg.png");
    background-position: 1px;
    background-repeat: no-repeat;

}
                                                /* Three Division of a section  */
.three-width{

    
    width: 30%;
    float: left;
    margin-left: 30px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.three-width img{

    width: 100%;
}
.work-area{

    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

h3{

    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 40px;
}
                                                /* mail Anchor Button  */
.mail-area{
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(60deg, rgb(204, 7, 82), rgb(204, 7, 82));
    padding: 50px 170px;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    margin-left: 300px;
    margin-right: 300px;
    

}
                                                /* Social Networking Button anchor  */
.social-network{

    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.social-button {
    
    margin-left: 200px;
    margin-right: 100px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #4e4ef1;

    
}

#facebook{

    padding: 10px 20px;
    border-radius: 15px;
    background-color: #3b5998;
    color: white;
    box-shadow: 10px 10px 30px rgb(165, 164, 164);
    
}

#facebook:hover{

    background-color: #dd096c;
}

#github{
   
    padding: 10px 20px;
    border-radius: 15px;
    background-color:#303131;
    color: white;
    box-shadow: 10px 10px 30px rgb(165, 164, 164);

}

#github:hover{
    background-color: #dd096c;

}

#linkedin{

    padding: 10px 20px;
    border-radius: 15px;
    background-color:#2867B2;
    color: white;
    box-shadow: 10px 10px 30px rgb(165, 164, 164);

}

#linkedin:hover{

    background-color: #dd096c;
}
                                            /* footer section  */
.footer-area{

    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}

footer{

    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 14px;
}